Dear [$TO_NAME$],<br /><br />

Someone, perhaps you, tried to create an account, but you already have an account. Please login with your password. If you do not have your password, you can use the forgot password.<br />

[$FROM_NAME$]<br /><br />
[$FROM_ADDRESS$]<br /><br />
[$PORTAL_URL$]